  <div class="callout">
    <p class="ms-2"><%= @question %></p>
    <p class="ms-2 mb-0"><i>– You</i></p>
  </div>
  <div class="callout callout-info">
    <p class="ms-2"><%= @answer %></p>
    <p class="ms-2 mb-0"><i>– Your coach</i></p>
    </div>
  <%= link_to 'Ask a new question', ask_path , class:"text-decoration-none" %>
